<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dwell.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @dwell.price %>
</p>

<p>
  <strong>Lattitude:</strong>
  <%= @dwell.lattitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @dwell.longitude %>
</p>

<p>
  <strong>Size:</strong>
  <%= @dwell.size %>
</p>

<p>
  <strong>Cost per size:</strong>
  <%= @dwell.cost_per_size %>
</p>

<p>
  <strong>Type:</strong>
  <%= @dwell.type %>
</p>

<p>
  <strong>Ref:</strong>
  <%= @dwell.ref_id %>
</p>

<p>
  <strong>Link:</strong>
  <%= @dwell.link %>
</p>

<%= link_to 'Edit', edit_dwell_path(@dwell) %> |
<%= link_to 'Back', dwells_path %>
