<p id="notice"><%= notice %></p>

<h1>Mangas</h1>
<div class="container">
  <% @manga_lists.each do |m| %>
    <div class="col-sm-3">
      <img src="<%= m[:image]%>" alt="">
      <div class="content">
        <a href="<%= m[:link] %>"><%= m[:name] %></a> <br>

        <%= link_to m[:chapter], index_reader_path(:url_link => m[:chapter_link]) %> |
        rating: <%= m[:rating] %> <br>
        <span class="_genre">
          <% m[:genre].each_with_index do |a,index|%>
            <%= a %>,
          <% end %>
        </span>

      </div>
    </div>


    <br>
  <% end %>

</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Chapter</th>
      <th>Viewer</th>
      <th>Source</th>
      <th>Rating</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mangas.each do |manga| %>
      <tr>
        <td><%= manga.name %></td>
        <td><%= manga.chapter %></td>
        <td><%= manga.viewer %></td>
        <td><%= manga.source %></td>
        <td><%= manga.rating %></td>
        <td><%= manga.author %></td>
        <td><%= link_to 'Show', manga %></td>
        <td><%= link_to 'Edit', edit_manga_path(manga) %></td>
        <td><%= link_to 'Destroy', manga, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Manga', new_manga_path %>
